___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [1]:
import pandas as pd
ri1 = pd.read_csv("police_1.csv")

C:\Users\aliyi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
ri1.set_index("stop_datetime", inplace = True)
ri1.head()

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,White,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,Black,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,0,M,1973.0,32.0,B,Black,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

In [3]:
ri1.index = pd.to_datetime(ri1.index)

In [4]:
ri1.index

DatetimeIndex(['2005-01-02 01:55:00', '2005-01-02 20:30:00',
               '2005-01-04 12:55:00', '2005-01-06 01:30:00',
               '2005-01-12 08:05:00', '2005-01-18 08:15:00',
               '2005-01-18 17:13:00', '2005-01-23 23:15:00',
               '2005-01-24 20:32:00', '2005-02-09 03:05:00',
               ...
               '2015-12-31 22:10:00', '2015-12-31 22:14:00',
               '2015-12-31 22:26:00', '2015-12-31 22:38:00',
               '2015-12-31 22:39:00', '2015-12-31 22:46:00',
               '2015-12-31 22:47:00', '2015-12-31 23:08:00',
               '2015-12-31 23:44:00', '2015-12-31 23:48:00'],
              dtype='datetime64[ns]', name='stop_datetime', length=480584, freq=None)

In [5]:
ri1.head()

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,White,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,Black,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,0,M,1973.0,32.0,B,Black,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [7]:
ri1.violation.value_counts(dropna = False)

Speeding               268736
Moving violation        90228
Equipment               61250
Other                   24216
Registration/plates     19830
Seat belt               16324
Name: violation, dtype: int64

In [9]:
# if we want to see the data as procent %:
ri1.violation.value_counts(normalize = True)

Speeding               0.559186
Moving violation       0.187747
Equipment              0.127449
Other                  0.050389
Registration/plates    0.041262
Seat belt              0.033967
Name: violation, dtype: float64

In [10]:
ri1["violation"].value_counts().apply(lambda x : x/(ri1.violation.value_counts().sum()))

Speeding               0.559186
Moving violation       0.187747
Equipment              0.127449
Other                  0.050389
Registration/plates    0.041262
Seat belt              0.033967
Name: violation, dtype: float64

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [11]:
# ri1.columns
is_Female = ri1["driver_gender"] == "F"
#is_Female.head()
is_Male = ri1["driver_gender"] == "M"

In [12]:
ri1_Female = ri1[is_Female]
ri1_Male = ri1[is_Male]

In [13]:
ri1_Female.head()

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,2005-02-24,01:20,Zone X3,200,F,1983.0,22.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
2005-03-14 10:00:00,RI-2005-00019,2005-03-14,10:00,Zone K3,300,F,1984.0,21.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2005-03-29 23:20:00,RI-2005-00026,2005-03-29,23:20,Zone K3,300,F,1971.0,34.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-06-06 13:20:00,RI-2005-00035,2005-06-06,13:20,Zone X4,500,F,1986.0,19.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-06-18 16:30:00,RI-2005-00037,2005-06-18,16:30,Zone X4,500,F,1964.0,41.0,W,White,...,False,NaN,NaN,False,Arrest Driver,True,30+ Min,False,False,Zone X4

In [14]:
ri1_Male.head()

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,White,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,Black,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,0,M,1973.0,32.0,B,Black,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

In [15]:
ri1_Male.shape

(349446, 22)

In [16]:
ri1_Female.shape

(131138, 22)

In [17]:
ri1_Female.violation.value_counts()

Speeding               86198
Moving violation       17911
Equipment              14039
Registration/plates     5649
Other                   3791
Seat belt               3550
Name: violation, dtype: int64

In [18]:
# ri1_Female.violation.value_counts(normalize = True)
ri1_Female["violation"].value_counts().apply(lambda x : x/(ri1_Female.violation.value_counts().sum()))

Speeding               0.657308
Moving violation       0.136581
Equipment              0.107055
Registration/plates    0.043077
Other                  0.028908
Seat belt              0.027071
Name: violation, dtype: float64

In [19]:
ri1_Male.violation.value_counts()

Speeding               182538
Moving violation        72317
Equipment               47211
Other                   20425
Registration/plates     14181
Seat belt               12774
Name: violation, dtype: int64

In [21]:
# ri1_Male.violation.value_counts(normalize = True)
ri1_Male["violation"].value_counts().apply(lambda x : x/(ri1_Male.violation.value_counts().sum()))

Speeding               0.522364
Moving violation       0.206948
Equipment              0.135102
Other                  0.058450
Registration/plates    0.040581
Seat belt              0.036555
Name: violation, dtype: float64

In [22]:
ri1.groupby(["driver_gender"])["violation"].value_counts(normalize = True, dropna = False)

driver_gender  violation
F              Speeding               0.657308
               Moving violation       0.136581
               Equipment              0.107055
               Registration/plates    0.043077
               Other                  0.028908
               Seat belt              0.027071
M              Speeding               0.522364
               Moving violation       0.206948
               Equipment              0.135102
               Other                  0.058450
               Registration/plates    0.040581
               Seat belt              0.036555
Name: violation, dtype: float64

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [23]:
is_SpeedingF = ri1_Female["violation"] == "Speeding"
female_and_speeding = ri1_Female[is_SpeedingF]

In [24]:
is_SpeedingM = ri1_Male["violation"] == "Speeding"
male_and_speeding = ri1_Male[is_SpeedingM]

In [28]:
female_and_speeding["stop_outcome"].value_counts(dropna = False)

Citation            82168
Warning              3362
Arrest Driver         456
Arrest Passenger       89
N/D                    78
No Action              45
Name: stop_outcome, dtype: int64

In [29]:
#female_and_speeding["stop_outcome"].value_counts().apply(lambda x : x/(female_and_speeding.stop_outcome.value_counts().sum()))
female_and_speeding["stop_outcome"].value_counts(normalize = True)

Citation            0.953247
Warning             0.039003
Arrest Driver       0.005290
Arrest Passenger    0.001033
N/D                 0.000905
No Action           0.000522
Name: stop_outcome, dtype: float64

##### A traffic citation is a summons issued by a law enforcement officer to a person violating a traffic law. A traffic citation is commonly known as a traffic ticket. The citation is a piece of paper that describes one or more violations that the person may have committed.

In [30]:
male_and_speeding["stop_outcome"].value_counts()

Citation            172432
Warning               6587
Arrest Driver         2878
Arrest Passenger       231
N/D                    216
No Action              194
Name: stop_outcome, dtype: int64

In [31]:
male_and_speeding["stop_outcome"].value_counts(normalize = True)
# male_and_speeding["stop_outcome"].value_counts().apply(lambda x : x/(male_and_speeding.stop_outcome.value_counts().sum()))

Citation            0.944636
Warning             0.036086
Arrest Driver       0.015767
Arrest Passenger    0.001265
N/D                 0.001183
No Action           0.001063
Name: stop_outcome, dtype: float64

In [39]:
ri1.groupby(["violation", "driver_gender"])["stop_outcome"].value_counts(normalize = True)["Speeding"]

driver_gender  stop_outcome
F              Citation            0.953247
               Warning             0.039003
               Arrest Driver       0.005290
               Arrest Passenger    0.001033
               N/D                 0.000905
               No Action           0.000522
M              Citation            0.944636
               Warning             0.036086
               Arrest Driver       0.015767
               Arrest Passenger    0.001265
               N/D                 0.001183
               No Action           0.001063
Name: stop_outcome, dtype: float64

#### It is evident that gender has no impact on whether the driver will receive a ticket or a warning. The numbers indicate that the\ citation ratio of female drivers is almost the same as the citation ratio of male drivers.

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [24]:
ri1["search_conducted"].dtypes

dtype('bool')

In [25]:
ri1["search_conducted"].value_counts()

False    462822
True      17762
Name: search_conducted, dtype: int64

In [40]:
# ri1["search_conducted"].value_counts().apply(lambda x : (x/ri1["search_conducted"].value_counts().sum()))
ri1["search_conducted"].value_counts(normalize = True)

False    0.963041
True     0.036959
Name: search_conducted, dtype: float64

In [41]:
ri1["search_conducted"].mean()

0.036959199640437465

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [43]:
ri1_Female["search_conducted"].mean()

0.018751239152648355

In [44]:
ri1_Female["search_conducted"].value_counts()

False    128679
True       2459
Name: search_conducted, dtype: int64

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [45]:
ri1_Male["search_conducted"].mean()

0.04379217389811301

In [46]:
ri1_Male["search_conducted"].value_counts()

False    334143
True      15303
Name: search_conducted, dtype: int64

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [47]:
ri1.groupby("driver_gender")["search_conducted"].mean()

driver_gender
F    0.018751
M    0.043792
Name: search_conducted, dtype: float64

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [48]:
import numpy as np
ri1_Female.groupby("violation")["search_conducted"].value_counts()

violation            search_conducted
Equipment            False               13474
                     True                  565
Moving violation     False               17230
                     True                  681
Other                False                3617
                     True                  174
Registration/plates  False                5340
                     True                  309
Seat belt            False                3487
                     True                   63
Speeding             False               85531
                     True                  667
Name: search_conducted, dtype: int64

In [49]:
ri1_Female.groupby("violation")["search_conducted"].apply(len)

violation
Equipment              14039
Moving violation       17911
Other                   3791
Registration/plates     5649
Seat belt               3550
Speeding               86198
Name: search_conducted, dtype: int64

In [50]:
ri1_Female.groupby("violation")["search_conducted"].apply(np.mean)

violation
Equipment              0.040245
Moving violation       0.038021
Other                  0.045898
Registration/plates    0.054700
Seat belt              0.017746
Speeding               0.007738
Name: search_conducted, dtype: float64

In [51]:
f_viorate = ri1_Female.groupby("violation")["search_conducted"].apply(np.mean)

In [52]:
ri1_Male.groupby("violation")["search_conducted"].value_counts()

violation            search_conducted
Equipment            False                43863
                     True                  3348
Moving violation     False                68039
                     True                  4278
Other                False                19483
                     True                   942
Registration/plates  False                12712
                     True                  1469
Seat belt            False                12369
                     True                   405
Speeding             False               177677
                     True                  4861
Name: search_conducted, dtype: int64

In [53]:
ri1_Male.groupby("violation")["search_conducted"].apply(len)

violation
Equipment               47211
Moving violation        72317
Other                   20425
Registration/plates     14181
Seat belt               12774
Speeding               182538
Name: search_conducted, dtype: int64

In [54]:
ri1_Male.groupby("violation")["search_conducted"].apply(np.mean)

violation
Equipment              0.070916
Moving violation       0.059156
Other                  0.046120
Registration/plates    0.103589
Seat belt              0.031705
Speeding               0.026630
Name: search_conducted, dtype: float64

In [55]:
m_viorate = ri1_Male.groupby("violation")["search_conducted"].apply(np.mean)

In [56]:
pd.merge(m_viorate, f_viorate, on = "violation")

                     search_conducted_x  search_conducted_y
violation
Equipment                      0.070916            0.040245
Moving violation               0.059156            0.038021
Other                          0.046120            0.045898
Registration/plates            0.103589            0.054700
Seat belt                      0.031705            0.017746
Speeding                       0.026630            0.007738

In [57]:
viorate = pd.merge(m_viorate, f_viorate, on = "violation")

In [58]:
viorate.rename(columns = {"search_conducted_x" : "Male Search Ratio", "search_conducted_y" : "Female Search Ratio"})

                     Male Search Ratio  Female Search Ratio
violation
Equipment                     0.070916             0.040245
Moving violation              0.059156             0.038021
Other                         0.046120             0.045898
Registration/plates           0.103589             0.054700
Seat belt                     0.031705             0.017746
Speeding                      0.026630             0.007738

In [61]:
ri1.groupby(["driver_gender", "violation"])["search_conducted"].mean()

driver_gender  violation
F              Equipment              0.040245
               Moving violation       0.038021
               Other                  0.045898
               Registration/plates    0.054700
               Seat belt              0.017746
               Speeding               0.007738
M              Equipment              0.070916
               Moving violation       0.059156
               Other                  0.046120
               Registration/plates    0.103589
               Seat belt              0.031705
               Speeding               0.026630
Name: search_conducted, dtype: float64

In [75]:
ri1.groupby(["driver_gender","violation"])[["search_conducted"]].mean()

                                   search_conducted
driver_gender violation
F             Equipment                    0.040245
              Moving violation             0.038021
              Other                        0.045898
              Registration/plates          0.054700
              Seat belt                    0.017746
              Speeding                     0.007738
M             Equipment                    0.070916
              Moving violation             0.059156
              Other                        0.046120
              Registration/plates          0.103589
              Seat belt                    0.031705
              Speeding                     0.026630

In [76]:
driver_search = ri1.groupby(["driver_gender","violation"])[["search_conducted"]].mean()

In [77]:
driver_search.pivot_table(index = "violation", columns = "driver_gender")

                    search_conducted
driver_gender                      F         M
violation
Equipment                   0.040245  0.070916
Moving violation            0.038021  0.059156
Other                       0.045898  0.046120
Registration/plates         0.054700  0.103589
Seat belt                   0.017746  0.031705
Speeding                    0.007738  0.026630

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [78]:
ri1.groupby(["violation","driver_gender"])["search_conducted"].mean()

violation            driver_gender
Equipment            F                0.040245
                     M                0.070916
Moving violation     F                0.038021
                     M                0.059156
Other                F                0.045898
                     M                0.046120
Registration/plates  F                0.054700
                     M                0.103589
Seat belt            F                0.017746
                     M                0.031705
Speeding             F                0.007738
                     M                0.026630
Name: search_conducted, dtype: float64

In [81]:
ri1.groupby(["violation","driver_gender"])[["search_conducted"]].mean()

                                   search_conducted
violation           driver_gender
Equipment           F                      0.040245
                    M                      0.070916
Moving violation    F                      0.038021
                    M                      0.059156
Other               F                      0.045898
                    M                      0.046120
Registration/plates F                      0.054700
                    M                      0.103589
Seat belt           F                      0.017746
                    M                      0.031705
Speeding            F                      0.007738
                    M                      0.026630

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [57]:
is_Protec = ri1["search_type"] == "Protective Frisk"

In [59]:
ri1[is_Protec].shape

(879, 24)

In [99]:
ri1["search_type"].value_counts()

Incident to Arrest                                          6998
Probable Cause                                              4989
Reasonable Suspicion                                        1141
Inventory                                                   1101
Protective Frisk                                             879
Incident to Arrest,Inventory                                 649
Incident to Arrest,Probable Cause                            552
Probable Cause,Reasonable Suspicion                          334
Probable Cause,Protective Frisk                              221
Incident to Arrest,Protective Frisk                          158
Incident to Arrest,Inventory,Probable Cause                  151
Inventory,Probable Cause                                     132
Protective Frisk,Reasonable Suspicion                         83
Incident to Arrest,Inventory,Protective Frisk                 77
Incident to Arrest,Probable Cause,Protective Frisk            74
Inventory,Protective Frisk                                    52
Incident to Arrest,Reasonable Suspicion                       49
Probable Cause,Protective Frisk,Reasonable Suspicion          31
Incident to Arrest,Probable Cause,Reasonable Suspicion        31
Inventory,Reasonable Suspicion                                17
Inventory,Probable Cause,Protective Frisk                     14
Incident to Arrest,Inventory,Reasonable Suspicion             12
Inventory,Probable Cause,Reasonable Suspicion                  8
Incident to Arrest,Protective Frisk,Reasonable Suspicion       8
Inventory,Protective Frisk,Reasonable Suspicion                1
Name: search_type, dtype: int64

In [101]:
ri1[ri1["search_type"].str.contains("Protective Frisk", na=False)]

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-02-09 03:05:00,RI-2005-00011,2005-02-09,03:05,Zone X4,NaN,NaN,500,M,1976.0,29.0,...,True,"Probable Cause,Terry Frisk","Probable Cause,Protective Frisk",False,Citation,False,0-15 Min,False,False,Zone X4
2005-08-28 01:00:00,RI-2005-00084,2005-08-28,01:00,Zone X1,NaN,NaN,0,M,1979.0,26.0,...,True,"Incident to Arrest,Terry Frisk","Incident to Arrest,Protective Frisk",False,Arrest Driver,True,16-30 Min,True,False,Zone X1
2005-10-01 16:20:00,RI-2005-00253,2005-10-01,16:20,Zone K1,NaN,NaN,600,M,1958.0,47.0,...,True,"Reasonable Suspicion,Terry Frisk","Protective Frisk,Reasonable Suspicion",True,Citation,False,16-30 Min,False,False,Zone K1
2005-10-06 21:35:00,RI-2005-01027,2005-10-06,21:35,Zone X4,NaN,NaN,500,M,1966.0,39.0,...,True,Terry Frisk,Protective Frisk,False,Citation,False,0-15 Min,False,False,Zone X4
2005-10-07 11:33:00,RI-2005-01121,2005-10-07,11:33,Zone X4,NaN,NaN,900,M,1980.0,25.0,...,True,Terry Frisk,Protective Frisk,False,Arrest Driver,True,16-30 Min,False,False,Zone X4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-11-27 19:49:00,RI-2015-43442,2015-11-27,19:49,Zone X3,NaN,NaN,200,M,1986.0,29.0,...,True,Terry Frisk,Protective Frisk,False,Warning,False,0-15 Min,True,False,Zone X3
2015-12-06 10:33:00,RI-2015-44434,2015-12-06,10:33,Zone K3,NaN,NaN,300,M,1993.0,22.0,...,True,Terry Frisk,Protective Frisk,True,Citation,False,16-30 Min,True,True,Zone K3
2015-12-12 09:02:00,RI-2015-45103,2015-12-12,09:02,Zone X4,NaN,NaN,500,M,1982.0,33.0,...,True,Terry Frisk,Protective Frisk,False,Citation,False,16-30 Min,True,False,Zone X4
2015-12-16 02:38:00,RI-2015-45507,2015-12-16,02:38,Zone K3,NaN,NaN,200,M,1988.0,27.0,...,True,"Incident to Arrest,Odor of Drugs/Alcohol,Terry...","Incident to Arrest,Probable Cause,Protective F...",True,Arrest Driver,True,30+ Min,False,True,Zone K3
2015-12-30 01:37:00,RI-2015-46870,2015-12-30,01:37,Zone X4,NaN,NaN,500,M,1979.0,36.0,...,True,Terry Frisk,Protective Frisk,False,Citation,False,0-15 Min,False,False,Zone X4

In [149]:
ri1["frisk"] = ri1["search_type"].str.contains("Protective Frisk", na=False)

In [150]:
ri1["frisk"].sum()

1598

In [151]:
ri1["frisk"].dtypes

dtype('bool')

In [152]:
ri1.columns

Index(['id', 'stop_date', 'stop_time', 'location_raw', 'county_fips',
       'fine_grained_location', 'police_department', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race_raw', 'driver_race',
       'violation_raw', 'violation', 'search_conducted', 'search_type_raw',
       'search_type', 'contraband_found', 'stop_outcome', 'is_arrested',
       'stop_duration', 'out_of_state', 'drugs_related_stop', 'district',
       'frisk'],
      dtype='object')

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [153]:
searched = ri1.loc[ri1["search_conducted"] == True]

In [154]:
ri1["search_conducted"].sum()

17762

In [155]:
searched.head(5)

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-24 20:32:00,RI-2005-00010,2005-01-24,20:32,Zone K1,NaN,NaN,600,M,1987.0,18.0,...,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1,False
2005-02-09 03:05:00,RI-2005-00011,2005-02-09,03:05,Zone X4,NaN,NaN,500,M,1976.0,29.0,...,"Probable Cause,Terry Frisk","Probable Cause,Protective Frisk",False,Citation,False,0-15 Min,False,False,Zone X4,True
2005-08-28 01:00:00,RI-2005-00084,2005-08-28,01:00,Zone X1,NaN,NaN,0,M,1979.0,26.0,...,"Incident to Arrest,Terry Frisk","Incident to Arrest,Protective Frisk",False,Arrest Driver,True,16-30 Min,True,False,Zone X1,True
2005-09-15 02:20:00,RI-2005-00094,2005-09-15,02:20,Zone X4,NaN,NaN,500,M,1988.0,17.0,...,Incident to Arrest,Incident to Arrest,False,Arrest Driver,True,16-30 Min,False,False,Zone X4,False
2005-09-24 02:20:00,RI-2005-00115,2005-09-24,02:20,Zone K3,NaN,NaN,300,M,1987.0,18.0,...,Incident to Arrest,Incident to Arrest,False,Arrest Driver,True,16-30 Min,False,False,Zone K3,False

In [156]:
searched.shape

(17762, 25)

In [159]:
searched["frisk"].sum()

1598

In [160]:
searched["frisk"].mean()

0.08996734601959239

In [162]:
searched.groupby("driver_gender")[["frisk"]].mean()

                  frisk
driver_gender
F              0.066694
M              0.093707

## Good Job!