### Regular expressions

In [2]:
import re  # regex: regular expressions
import pandas as pd

In [25]:
# find digit
text = re.search("\d","A2")
print(text.group())

2

In [26]:
# find digit
text = re.search("\d\d","A23")
print(text.group())

23

In [27]:
# find text
text = re.search("\D", "22A")
print(text.group())

A

In [28]:
text = 'My phone number is 505-555-5555'
output = re.search('(\d\d\d)-(\d\d\d)-(\d\d\d\d)', text)
print(output.group())

505-555-5555

In [29]:
# find phone number patern
text = 'My phone number is 5055555555'
output = re.search('(\d\d\d)(\d\d\d)(\d\d\d\d)', text)
print(output.group())

5055555555

In [30]:
# grouping with paranthesis
text = 'My phone number is 415-555-1212'
output = re.search('(\d\d\d)-(\d\d\d-\d\d\d\d)', text)
print(output.group(1))
print(output.group(2))

415
555-1212

In [31]:
# escaping parentheses and create 2 group
text = 'My phone number is (415) 555-1212'
output = re.search('(\(\d\d\d\)) (\d\d\d-\d\d\d\d)', text)
print(output.group(1))
print(output.group(2))

(415)
555-1212

In [34]:
# extract numbers from text
value = "O 1, t 10, o 100."
output = re.findall('\d', value)
print(output)

['1', '1', '0', '1', '0', '0']

In [35]:
# extract numbers from text
value = "O 1, t 10, o 100."
output = re.findall('\d\d', value)
print(output)

['10', '10']

In [36]:
# extract numbers from text
value = "O 1, t 10, o 100."
output = re.findall('\d\d\d', value)
print(output)

['100']

In [37]:
# extract numbers from text
value = "O 1, t 10, o 100."
output = re.findall('\d{1,3}', value)  # bir ve uc basamakli sayilarin hepsini bul demek
print(output)

['1', '10', '100']

In [39]:
# remove anything other than digits and print
phone = "2004-959-559 # This is Phone Number"
output = re.sub('\D', '', phone)  # sub : substitute
print(output)

2004959559

In [40]:
# remove anything other than digits and replace with "."
phone = "2004-959-559 # This is Phone Number"
output = re.sub('\D', '.', phone)
print(output)

2004.959.559.......................

In [41]:
# check if the string starts with "hello" if yes print yes, else no
txt ="hello world"

output = re.findall("^hello", txt)
if output:
    print("yes")
else:
    print("no")

yes

In [43]:
# check if the string ends with "world" if yes print yes, else no
txt ="hello world"

output = re.findall("world$", txt)
if output:
    print("yes")
else:
    print("no")
print(output)

yes
['world']

In [46]:
# PANDAS
# extract just numbers
s = pd.Series(["a3", "b4", "c5"])
s.str.extract('(\d)')

   0
0  3
1  4
2  5

In [48]:
# extract just letters
s = pd.Series(["a3", "b4", "c5"])
s.str.extract('(\D)')

   0
0  a
1  b
2  c

In [51]:
# extract just letters
s = pd.Series(["a3aa", "bc4", "cc5x"])
s.str.extract('(\w)')

   0
0  a
1  b
2  c

In [52]:
s = pd.Series(["a3aa", "bc4", "cc5x"])
s.str.extract('(\w\d)')

    0
0  a3
1  c4
2  c5

In [58]:
# extract first number
s= pd.Series(['40 l/100 km (comb)',
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)',
       '7.8 l/100 km (comb)'])

result = s.str.extract("(\d\d|\d.\d|\d)")
print(result)

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

In [76]:
# extract first and second number
s= pd.Series(['40 l/100 km (comb)',
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)',
       '7.8 l/100 km (comb)'])

result_1 = s.str.extract("(\d\d|\d.\d|\d).*(\d\d\d)")  # .* : any character plus 0 and more occurence, .+ : anycharacter plus 1 or more occurence
print(result_1)

      0    1
0    40  100
1    38  100
2   6.4  100
3   8.3  100
4   5.1  100
5   5.4  100
6   6.7  100
7   6.2  100
8   7.3  100
9   6.3  100
10  5.7  100
11  6.1  100
12  6.8  100
13  7.5  100
14  7.4  100
15  3.6  100
16    0  100
17  7.8  100

In [77]:
result_2 = s.str.extract('(^\d*.\d*) \w*/(\d*)')
result_2

      0    1
0    40  100
1    38  100
2   6.4  100
3   8.3  100
4   5.1  100
5   5.4  100
6   6.7  100
7   6.2  100
8   7.3  100
9   6.3  100
10  5.7  100
11  6.1  100
12  6.8  100
13  7.5  100
14  7.4  100
15  3.6  100
16    0  100
17  7.8  100

In [87]:
# extract date
s = pd.Series(['06/2020\n\n4.9 l/100 km (comb)',
'11/2020\n\n166 g CO2/km (comb)',
'10/2019\n\n5.3 l/100 km (comb)',
'05/2022\n\n6.3 l/100 km (comb)',
'07/2019\n\n128 g CO2/km (comb)',
'06/2022\n\n112 g CO2/km (comb)',
'01/2022\n\n5.8 l/100 km (comb)',
'11/2020\n\n106 g CO2/km (comb)',
'04/2019\n\n105 g CO2/km (comb)',
'08/2020\n\n133 g CO2/km (comb)',
'04/2022\n\n133 g CO2/km (comb)'])
result_1 = s.str.extract("(\d\d)/(\d\d\d\d)")
result_2 = s.str.extract("(\d\d)\/(\d\d\d\d)")
result_3 = s.str.extract("(\d\d).(\d\d\d\d)")
result_3

     0     1
0   06  2020
1   11  2020
2   10  2019
3   05  2022
4   07  2019
5   06  2022
6   01  2022
7   11  2020
8   04  2019
9   08  2020
10  04  2022

In [89]:
# extract date with a different way
s = pd.Series(['06/2020\n\n4.9 l/100 km (comb)',
'11/2020\n\n166 g CO2/km (comb)',
'10/2019\n\n5.3 l/100 km (comb)',
'05/2022\n\n6.3 l/100 km (comb)',
'07/2019\n\n128 g CO2/km (comb)',
'06/2022\n\n112 g CO2/km (comb)',
'01/2022\n\n5.8 l/100 km (comb)',
'11/2020\n\n106 g CO2/km (comb)',
'04/2019\n\n105 g CO2/km (comb)',
'08/2020\n\n133 g CO2/km (comb)',
'04/2022\n\n133 g CO2/km (comb)'])

result = s.str.extract('(\d{1,2})/(\d{1,4})')
result

     0     1
0   06  2020
1   11  2020
2   10  2019
3   05  2022
4   07  2019
5   06  2022
6   01  2022
7   11  2020
8   04  2019
9   08  2020
10  04  2022

In [90]:
# extract date with a different way
s = pd.Series(['06/2020\n\n4.9 l/100 km (comb)',
'11/2020\n\n166 g CO2/km (comb)',
'10/2019\n\n5.3 l/100 km (comb)',
'05/2022\n\n6.3 l/100 km (comb)',
'07/2019\n\n128 g CO2/km (comb)',
'06/2022\n\n112 g CO2/km (comb)',
'01/2022\n\n5.8 l/100 km (comb)',
'11/2020\n\n106 g CO2/km (comb)',
'04/2019\n\n105 g CO2/km (comb)',
'08/2020\n\n133 g CO2/km (comb)',
'04/2022\n\n133 g CO2/km (comb)'])

result = s.str.extract('(\d{2})/(\d{4})\s\s(\d{3}|\d.\d)')
result

     0     1    2
0   06  2020  4.9
1   11  2020  166
2   10  2019  5.3
3   05  2022  6.3
4   07  2019  128
5   06  2022  112
6   01  2022  5.8
7   11  2020  106
8   04  2019  105
9   08  2020  133
10  04  2022  133