In [38]:
from scipy.special import perm
from scipy.special import comb
from scipy.stats import binom, poisson
import numpy as np
import pandas as pd

In [4]:
perm(8,4)

1680.0

In [6]:
comb(20,11)

167960.0

In [7]:
perm(20,11)

6704425728000.0

In [8]:
398/969

0.4107327141382869

In [9]:
183/469

0.39019189765458423

In [10]:
215/500

0.43

In [11]:
6/3927

0.0015278838808250573

In [12]:
6/54

0.1111111111111111

In [13]:
300/7.5

40.0

In [30]:
# a binomial cumulative distribution table for n=10 using Python
p_list = [0.01, 0.05, 0.10, 0.20, 0.30, 0.40, 0.50, 0.60, 0.70, 0.80, 0.90, 0.95, 0.99]
table2 = []
for k in range(10):
    table = []
    for p in p_list:
        prob = binom.cdf(k, 10, p)
        table.append(round(prob, 3))
    table2.append(table)
df = pd.DataFrame(data = table2, columns = p_list)
df

,0.01,0.05,0.10,0.20,0.30,0.40,0.50,0.60,0.70,0.80,0.90,0.95,0.99
0,0.904,0.599,0.349,0.107,0.028,0.006,0.001,0.000,0.000,0.000,0.000,0.000,0.000
1,0.996,0.914,0.736,0.376,0.149,0.046,0.011,0.002,0.000,0.000,0.000,0.000,0.000
2,1.000,0.988,0.930,0.678,0.383,0.167,0.055,0.012,0.002,0.000,0.000,0.000,0.000
3,1.000,0.999,0.987,0.879,0.650,0.382,0.172,0.055,0.011,0.001,0.000,0.000,0.000
4,1.000,1.000,0.998,0.967,0.850,0.633,0.377,0.166,0.047,0.006,0.000,0.000,0.000
5,1.000,1.000,1.000,0.994,0.953,0.834,0.623,0.367,0.150,0.033,0.002,0.000,0.000
6,1.000,1.000,1.000,0.999,0.989,0.945,0.828,0.618,0.350,0.121,0.013,0.001,0.000
7,1.000,1.000,1.000,1.000,0.998,0.988,0.945,0.833,0.617,0.322,0.070,0.012,0.000
8,1.000,1.000,1.000,1.000,1.000,0.998,0.989,0.954,0.851,0.624,0.264,0.086,0.004
9,1.000,1.000,1.000,1.000,1.000,1.000,0.999,0.994,0.972,0.893,0.651,0.401,0.096

In [32]:
'''A salesperson has found that the probability of a sale on a single contact is approximately .3.
If the salesperson contacts 10 prospects, what is the approximate probability of
making at least one sale?'''
1-binom.cdf(0, 10, 0.3)

0.9717524751000001

In [37]:
# Ten coins are tossed simultaneously
# binom.pmf(7, 10, 0.5)  # exactly seven heads
# binom.cdf(7, 10, 0.5)  # at most seven heads
1-binom.cdf(6, 10, 0.5)  # at least seven heads

0.171875

In [52]:
'''A type of tree has seedlings dispersed in a large area with a mean density of five seedlings
per square yard. What is the probability that none of ten randomly selected
one-square yard regions have seedlings?
'''
poisson.pmf(5, 5)
binom.cdf(k = 0, n = 10, p = poisson.pmf(5, 5))

0.1452374020570895

In [53]:
poisson.pmf(4, 2)

0.09022352215774178

In [54]:
1- poisson.cdf(3, 2)

0.14287653950145296

In [55]:
poisson.cdf(3, 2)

0.857123460498547

In [56]:
(1 - poisson.cdf(3, 2)) / (1- poisson.cdf(1, 2))

0.24053526357399102

In [59]:
for k in range(5):
    print(f"Y={k}: ", binom.pmf(k, n=20, p=0.05))

Y=0:  0.3584859224085422
Y=1:  0.3773536025353075
Y=2:  0.18867680126765365
Y=3:  0.05958214776873269
Y=4:  0.013327585685111255

In [60]:
for k in range(5):
    print(f"Y={k}: ", poisson.pmf(k, 20*0.05))

Y=0:  0.36787944117144233
Y=1:  0.36787944117144233
Y=2:  0.18393972058572114
Y=3:  0.06131324019524039
Y=4:  0.015328310048810101